<html>
  <head>
    <title>Contact Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body><br>
    <div class="mainpage">
      <fieldset>
          <legend>Contact Us</legend>
              <label>Name: </label><br>
              <input type="text" name="name" size=38%><br><br>
              <label>Contact Number: </label><br>
              <input type="number" name="number" size=50%><br><br>
              <label>Email Address: </label><br>
              <input type="email" name="emailid" size=38%><br><br>
              <label>Message: </label><br>
              <textarea rows="7" cols="40"></textarea><br><hr>
              <button type="submit">SUBMIT</button>
      </fieldset>
      </div>
      <br><br><br><br><br>
      <fieldset>
        <div class="address container-fluid block">
        <div style="float: left">
            <h1>Head Office</h1>
            <p>
                <strong>Address:</strong><br>
                Sharmaji Bank Ltd., Mr S Tower,<br>
                V.I.P Road , Near Connaught Place,<br>
                Delhi<br>
                110001<br>
                <strong>PH:</strong>01122100333<br>
                <strong>EMAIL:</strong>support@sharmajibank.co.in
            </p>
        </div>
        <div style="float: right">
            <h1>Global Office</h1>
            <p>
                <strong>Address:</strong><br>
                Sharmaji Bank Ltd., Hooli Tower,<br>
                Cupertino,California<br>
                United States<br>
                94404<br>
                <strong>PH:</strong>65011005588<br>
                <strong>EMAIL:</strong>support@sharmajiBank.co.us
            </p>
        </div>
        </div>
    </fieldset>
    <br><br><br><br>
  </body>
</html>