<!DOCTYPE html>
<html>
    <head>
            <title>About Us</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="contain"><h1>About us</h1></div>
        <div class="content">
            <p>Sharmaji Bank is India's largest private sector bank with total consolidated assets of Rs. 13846.83 billion (US$ 200.5 billion) at March 31, 2018 and profit after tax of Rs. 67.77 billion (US$ 1.0 billion) for the year ended March 31, 2018. Sharmaji Bank currently has a network of 6,341 Branches and 20,637 ATMs across India.

                </p>
                <hr>
                <h3>History</h3> 
            <p>
                    Sharmaji Bank was originally promoted in 1996 by Sharmaji Limited, an Indian financial institution, and was its wholly-owned subsidiary.
            </p>
            <hr>
            <h3>Sharmaji Group Companies</h3>
            <p>
                    Sharmaji Bank offers a wide range of banking products and financial services to corporate and retail customers through a variety of delivery channels and through its group companies.
            </p>
            <hr>
            <h3>Board Of Directors</h3>
            <p>
                    Sharmaji Bank's Board members include eminent individuals with a wealth of experience in international business, management consulting, banking and financial services.
            </p>
            <hr>
            <h3>Investor Relations</h3>
            <p>All the latest, in-depth information about Sharmaji Bank's financial performance and business initiatives.</p>
            <hr>
            <h3>Career Opportunities</h3>
            <p>Explore diverse openings with India's second-largest bank.</p>
            <hr>
            <h3>Awards</h3>
            <p>Time and again our innovative banking services has been recognized and rewarded world over.</p>
            <hr>
            <h3>News Room</h3>
            <p>Catch up with Sharmaji Bank's latest business and social initiatives, as well as innovative product launches.</p>
            <br>
        </div>
        <br><br><br>
        </body>
    </html>