<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>Welcome to Sharmaji Bank</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <div class="container-fluid block">
                <div id="logo" style="float:left;">
                    <a routerLink=""><img src="assets\img\banklogo.png" alt="sharmaji bank" height="30%" width="30%"></a>
                </div>
                <div class="nav nav-pills" style="float:right; text-align: right;" > 
                <a class="anchr" routerLink="">Home</a>&nbsp; | ;<a class="anchr" routerLink="login">Login</a>&nbsp; | <a class="anchr" routerLink="about">About Us</a>&nbsp; | <a class="anchr"routerLink="services">Services</a>&nbsp; | <a class="anchr" routerLink="contact">Contact Us</a>
                <br><br>
                </div>
            </div>
        </header>
        <div class="footer"><div class="footerRight container"><div class="row"><div class="col-md-8"></div><div class="col-md-1"><a href="#" target="_blank" style="color:#4267b2;"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></div><div class="col-md-1"><a style="color:red;" target="_blank" href="#"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a></div><div class="col-md-1"><a href="#" target="_blank" style="color:#38A1F3"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></div><div class="col-md-1"><a href="#" target="_blank" style="color:#0077B5;"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></div></div></div>Copyright &copy; <strong>SharmajiBank</strong> All Rights Reserved</div>
    </body>
    <router-outlet></router-outlet>
</html>